.foot-wrapper {
  height: 465px;
  width: 100%;
  background-color: peru;
}
.foot-wrapper footer {
  height: 455px;
  background-color: #ee4367;
}
.foot-wrapper footer .bop {
  height: 50px;
}
.foot-wrapper footer .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #ffffff;
  font-family: GillSansBold;
  font-size: 35px;
  margin: auto;
}
.foot-wrapper footer .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
.foot-wrapper footer .phone {
  color: #ffffff;
  font-family: GillSansBold;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.foot-wrapper footer .signup {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
}
.foot-wrapper footer .signup input {
  width: 529px;
  height: 100%;
  background-color: #f56b88;
  border: none;
  color: rgb(238, 67, 103);
  font-size: 16px;
  margin: auto;
  margin-left: 500px;
}
.foot-wrapper footer .signup ::-webkit-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::-moz-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup :-ms-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::-ms-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup .button {
  width: 167px;
  background-color: #ffffff;
  padding-top: 20px;
  font-family: GillSansBold;
  color: #EE4367;
  margin: auto;
  padding-bottom: 20px;
  margin-right: 467px;
}
.foot-wrapper footer .social {
  height: 31px;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 100px;
}
.foot-wrapper footer .copy {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F7A1B3;
  font-family: GillSansBold;
  padding-top: 50px;
}

@media only all and (max-width: 980px) {
  .foot-wrapper footer {
    padding: 0 30px;
  }
}