* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansReg;
  src: url(fonts/gillSans.otf);
}
@font-face {
  font-family: GillSansBold;
  src: url(fonts/gillSansBold.otf);
}
.nav-wrapper {
  height: 90px;
  width: 100%;
  position: fixed;
}
.nav-wrapper nav {
  max-width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid 2px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrapper nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #ffffff;
  font-family: GillSansBold;
  font-size: 35px;
}
.nav-wrapper nav .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
.nav-wrapper nav .links {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: GillSansBold;
  font-size: 20px;
}
.nav-wrapper nav .links a {
  text-decoration: none;
  color: #ffffff;
}
.nav-wrapper nav .links span {
  color: #EE4367;
}

@media only all and (max-width: 980px) {
  .nav-wrapper nav {
    padding: 0 30px;
  }
}
@media only all and (max-width: 800px) {
  .nav-wrapper nav {
    padding: 0 10px;
  }
}
.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.8))), url(../images/home-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .centered-content {
  width: 780px;
  text-align: center;
  color: #ffffff;
  font-family: GillSansReg;
  font-size: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
.hero .lessImp {
  font-size: 27px;
  text-align: center;
  font-family: GillSansBold;
  color: #EE4367;
}
.hero .par {
  padding-top: 50px;
  font-family: GillSansBold;
  font-size: 27px;
}
.hero .read {
  width: 122px;
  height: 40px;
  background-color: #EE4367;
  color: #ffffff;
  padding-top: 8px;
  margin: auto;
  margin-top: 50px;
  font-family: GillSansBold;
}

.quote {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: GillSansReg;
}

.content {
  width: 789px;
  font-family: GillSansBold;
  color: #FFD140;
}
.content .author {
  color: #EE4367;
  margin-bottom: 1px;
  font-family: GillSansReg;
}
.content .title {
  font-size: 10px;
  color: #A8A8A8;
  font-family: GillSansReg;
}

.upcoming-events {
  background-color: #540D6E;
  color: #ffffff;
  padding: 40 40px;
}
.upcoming-events .title {
  height: 85.5px;
  width: 392px;
  border-bottom: solid 2px #ffffff;
  padding-top: 40px;
  font-family: GillSansBold;
}
.upcoming-events .title h1 {
  font-size: 25px;
}
.upcoming-events .events {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: GillSansBold;
}
.upcoming-events .events .event {
  width: 210px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: GillSansBold;
}
.upcoming-events .events .event .date {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: GillSansBold;
}
.upcoming-events .events .event .event-detail {
  width: -39px;
  font-family: GillSansBold;
  font-size: 12px;
  padding-left: 10px;
}
.upcoming-events .events .event .highlight {
  font-family: GillSansBold;
  font-size: 20px;
}
.upcoming-events .events .event .details {
  color: #EE4367;
  font-family: GillSansBold;
  font-size: 15px;
}

@media (max-width: 1140px) {
  .upcoming-events .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 210px;
    margin: 50px auto;
  }
}
.foot-wrapper {
  height: 465px;
  width: 100%;
  background-color: peru;
}
.foot-wrapper footer {
  height: 455px;
  background-color: #ee4367;
}
.foot-wrapper footer .bop {
  height: 50px;
}
.foot-wrapper footer .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #ffffff;
  font-family: GillSansBold;
  font-size: 35px;
  margin: auto;
}
.foot-wrapper footer .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
.foot-wrapper footer .phone {
  color: #ffffff;
  font-family: GillSansBold;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.foot-wrapper footer .signup {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
}
.foot-wrapper footer .signup input {
  width: 529px;
  height: 100%;
  background-color: #f56b88;
  border: none;
  color: rgb(238, 67, 103);
  font-size: 16px;
  margin: auto;
  margin-left: 500px;
}
.foot-wrapper footer .signup ::-webkit-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::-moz-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup :-ms-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::-ms-input-placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup ::placeholder {
  color: rgb(238, 67, 103);
  opacity: 1;
  font-family: GillSansBold;
}
.foot-wrapper footer .signup .button {
  width: 167px;
  background-color: #ffffff;
  padding-top: 20px;
  font-family: GillSansBold;
  color: #EE4367;
  margin: auto;
  padding-bottom: 20px;
  margin-right: 467px;
}
.foot-wrapper footer .social {
  height: 31px;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 100px;
}
.foot-wrapper footer .copy {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F7A1B3;
  font-family: GillSansBold;
  padding-top: 50px;
}

@media only all and (max-width: 980px) {
  .foot-wrapper footer {
    padding: 0 30px;
  }
}